yfinance==0.2.36
python-dotenv==1.0.1
langchain-community==0.0.19
matplotlib==3.8.2
scipy==1.12.0
pymongo==4.6.1
requests==2.31.0
pandas==2.2.0
python-dateutil==2.8.2
selenium==4.18.1
webdriver-manager==4.0.1
ollama==0.1.7
langchain-ollama==0.0.3
langchain==0.1.0
langchain-core==0.1.18
chromadb==0.4.22
pydantic>=2.0.0
colorama==0.4.6 